.notes-container {
  margin: 24px;
  padding: 16px;
  display: flex;
  justify-content: center;

  .notes-box {
    width: 500px;
    padding: 16px;

    .notes-form {
      padding: 16px;
      background-color: #ffffb7;

      #title {
        font-size: larger;
        font-weight: bold;
      }

      #title,
      #content {
        color: rgb(8, 8, 153);
        overflow: hidden;
      }

      .form-button {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
