@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import "./variables.scss";

.notes-container {
  margin: 24px;
  padding: 16px;
  display: flex;
  justify-content: center;

  .notes-box {
    width: 500px;
    padding: 16px;

    .notes-form {
      padding: 16px;
      background-color: $background-form-color;

      #title {
        font-size: larger;
        font-weight: bold;
      }

      #title,
      #content {
        color: $color-blue;
        overflow: hidden;
      }

      .form-button {
        display: flex;
        justify-content: space-between;
      }
    }

    .message {
      border-radius: 3px 3px 3px 3px;
    }

    .success-message,
    .error-message {
      padding: 8px;
    }

    .success-message {
      background-color: $success-bar;
      color: $color-green;
    }

    .error-message {
      color: $color-red;
      background-color: $error-bar;
    }
  }
}
