@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.notes-container {
  margin: 24px;
  padding: 16px;
  display: flex;
  justify-content: center;

  .notes-box {
    width: 500px;
    padding: 16px;

    .notes-form {
      padding: 16px;
      background-color: #ffffb7;

      #title {
        font-size: larger;
        font-weight: bold;
      }

      #title,
      #content {
        color: rgb(8, 8, 153);
        overflow: hidden;
      }

      .form-button {
        display: flex;
        justify-content: space-between;
      }
    }

    .message {
      border-radius: 3px 3px 3px 3px;
    }

    .success-message,
    .error-message {
      padding: 8px;
    }

    .success-message {
      background-color: #dff2bf;
      color: #270;
    }

    .error-message {
      color: #d8000c;
      background-color: #ffbaba;
    }
  }
}
