.notes-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notes-grid li {
  padding: 8px 8px;

  .note-item {
    width: 200px;
    height: 350px;
    background-color: #c0db85;
    color: rgb(8, 8, 153);
    padding: 16px;
    overflow: auto;
  }
}

.empty-list {
  padding: 7em;
  color: #8f8d93;
}
