@import "./variables.scss";

.notes-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notes-grid li {
  padding: 8px 8px;

  .note-item {
    width: 200px;
    height: 350px;
    background-color: $background-note-color;
    color: inherit;
    padding: 16px;
    overflow: auto;
  }
}

.empty-list {
  padding: 7em;
  color: $color-grey;
}
